[mcu cartographer]
serial: /dev/cartographer
restart_method: command
is_non_critical: True
reconnect_interval: 2.0
[cartographer]
mcu: cartographer
x_offset: 0
y_offset: -15
verbose: yes

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[bed_mesh]
zero_reference_position: 175, 175
speed: 200
mesh_min: 10, 5
mesh_max: 340, 330
probe_count: 31, 31
mesh_pps: 0, 0
adaptive_margin: 10
fade_start: 5.0
fade_end: 50.0
bicubic_tension: 0.2
algorithm: bicubic
horizontal_move_z: 3
split_delta_z: 0.01
move_check_distance: 3

[stepper_y]
position_endstop: -0.4
position_min: -0.4

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

## Leave this commented unless you have a use for the cartographer accelerometer and know what you are doing.
# [adxl345]
# cs_pin: cartographer:PA3 # Change to PA0 if you have V4
# spi_bus: spi1

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_ORIG
gcode:
    # Set speed/accel limits for consistent meshes so bed mesh speed is not bottlenecked by prior limits.
    {% set old_velocity = printer.toolhead.max_velocity %}
    {% set old_scv = printer.toolhead.square_corner_velocity %}
    {% set old_accel = printer.toolhead.max_accel %}
    {% set old_accel_to_decel = printer.toolhead.max_accel_to_decel %}
    SAVE_GCODE_STATE NAME=CARTO_BED_MESH_CALIBRATE_STATE
    SET_VELOCITY_LIMIT VELOCITY=800 SQUARE_CORNER_VELOCITY=5 ACCEL=10000 ACCEL_TO_DECEL=5000
    BED_MESH_CALIBRATE_ORIG {rawparams}
    # Restore previous limits and gcode state
    SET_VELOCITY_LIMIT VELOCITY={old_velocity} SQUARE_CORNER_VELOCITY={old_scv} ACCEL={old_accel} ACCEL_TO_DECEL={old_accel_to_decel}
    RESTORE_GCODE_STATE NAME=CARTO_BED_MESH_CALIBRATE_STATE MOVE=0
